.whole{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.box{
    text-align: center;
    font-size: 40px;
    margin-top: 15%;
}

.btnele{
    font-size: 20px;
    padding: 20px;
}

.btn-succees{
    margin-right: 50px;
    
}